body {
  margin: 0 auto;
  background-color: #f4f4f4;
  max-width: 620px;
  width: 100%;
}
body .article-body {
  max-width: 750px;
  width: 100%;
  margin: 0 auto;
  padding: 15px;
  box-sizing: border-box;
  background-color: #fff;
  font-family: sans-serif;
}
body .article-body img {
  max-width: 620px;
  width: 100%;
  height: auto;
  margin: 0 auto 10px;
  vertical-align: bottom;
}
body .article-body .por {
  position: relative;
}
body .article-body .poa {
  position: absolute;
}
body .article-body .text-contents {
  text-align: center;
  font-size: 17px;
  line-height: 1.8;
}
body .article-body .text-contents .comment {
  font-size: 13px;
  line-height: 1.5;
  display: block;
  margin-top: 5px;
  text-align: left;
}
body .article-body .text-contents .tx01 {
  color: #00d400;
  font-weight: bold;
}
body .article-body .text-contents .tx02 {
  font-weight: bold;
}
body .article-body .text-contents .bottom-line {
  border-bottom: solid 5px #ffe000;
}
body .article-body .text-contents .bg-line03 {
  background-color: #ffe000;
}
body .article-body .sb-custom #sb-part-2568 .downArrow span {
  margin: 0 2%;
  display: inline-block;
  width: 60px;
  height: 50px;
  background: #005b81;
  clip-path: polygon(0 35%, 25% 35%, 25% 0, 75% 0, 75% 35%, 100% 35%, 50% 100%);
}
body .article-body #sb-part-5083.sb-custom-part-m4gts9sjm7em1ukob2g .arrowFlow__area {
  width: 100%;
  height: auto;
}
body .article-body #sb-part-5083.sb-custom-part-m4gts9sjm7em1ukob2g .arrowFlow__inner {
  padding-bottom: 80px;
  overflow-y: hidden;
  position: relative;
}
@media (max-width: 620px) {
  body .article-body #sb-part-5083.sb-custom-part-m4gts9sjm7em1ukob2g .arrowFlow__inner {
    padding-bottom: 60px;
  }
}
body .article-body #sb-part-5083.sb-custom-part-m4gts9sjm7em1ukob2g .arrowFlow__beforeG, body .article-body #sb-part-5083.sb-custom-part-m4gts9sjm7em1ukob2g .arrowFlow__afterG {
  width: 80%;
  max-width: 400px;
  height: auto;
  margin: 0 auto;
  display: flex;
  justify-content: space-evenly;
  align-items: flex-start;
  animation-name: arrowFlow;
  animation-duration: 2s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  transform: translate(-50%, -300%);
  position: absolute;
  top: 0;
  left: 50%;
}
body .article-body #sb-part-5083.sb-custom-part-m4gts9sjm7em1ukob2g .arrowFlow__afterG {
  animation-delay: 1s;
}
body .article-body #sb-part-5083.sb-custom-part-m4gts9sjm7em1ukob2g .arrow_red {
  margin: 0 2%;
  display: inline-block;
  width: 60px;
  height: 40px;
  background: #b02425;
  clip-path: polygon(0 35%, 25% 35%, 25% 0, 75% 0, 75% 35%, 100% 35%, 50% 100%);
}
@media (max-width: 620px) {
  body .article-body #sb-part-5083.sb-custom-part-m4gts9sjm7em1ukob2g .arrow_red {
    height: 30px;
  }
}
body .article-body #sb-part-5083.sb-custom-part-m4gts9sjm7em1ukob2g .arrow_red_02 {
  margin: 0 2%;
  display: inline-block;
  width: 60px;
  height: 100px;
  background: #e1245d;
  clip-path: polygon(0 35%, 25% 35%, 25% 0, 75% 0, 75% 35%, 100% 35%, 50% 100%);
}
@media (max-width: 620px) {
  body .article-body #sb-part-5083.sb-custom-part-m4gts9sjm7em1ukob2g .arrow_red_02 {
    height: 57px;
  }
}
body .article-body #sb-part-5083.sb-custom-part-m4gts9sjm7em1ukob2g .arrow_red_03 {
  margin: 0 2%;
  display: inline-block;
  width: 80px;
  height: 80px;
  background: #e50012;
  clip-path: polygon(0 35%, 25% 35%, 25% 0, 75% 0, 75% 35%, 100% 35%, 50% 100%);
}
@media (max-width: 620px) {
  body .article-body #sb-part-5083.sb-custom-part-m4gts9sjm7em1ukob2g .arrow_red_03 {
    height: 50px;
  }
}
body .article-body #sb-part-5083.sb-custom-part-m4gts9sjm7em1ukob2g .arrow_blue {
  margin: 0 2%;
  display: inline-block;
  width: 60px;
  height: 65px;
  background: #005b81;
  clip-path: polygon(0 35%, 35% 35%, 35% 0, 65% 0, 65% 35%, 100% 35%, 50% 100%);
}
@media (max-width: 620px) {
  body .article-body #sb-part-5083.sb-custom-part-m4gts9sjm7em1ukob2g .arrow_blue {
    height: 30px;
  }
}
body .article-body #sb-part-5083.sb-custom-part-m4gts9sjm7em1ukob2g .arrow_blue_02 {
  margin: 0 1%;
  display: inline-block;
  width: 80px;
  height: 80px;
  background: #005b81;
  clip-path: polygon(0 35%, 25% 35%, 25% 0, 75% 0, 75% 35%, 100% 35%, 50% 100%);
}
@media (max-width: 620px) {
  body .article-body #sb-part-5083.sb-custom-part-m4gts9sjm7em1ukob2g .arrow_blue_02 {
    width: 60px;
    height: 60px;
  }
}
body .article-body .kakudai01, body .article-body .kakudai02 {
  width: 25%;
  top: 50%;
  left: 0;
  right: auto;
}
body .article-body .kakudai01 #sb-part-5083.sb-custom-part-m4gts9sjm7em1ukob2g .arrowFlow__inner, body .article-body .kakudai02 #sb-part-5083.sb-custom-part-m4gts9sjm7em1ukob2g .arrowFlow__inner {
  padding-bottom: 100px;
  overflow-y: hidden;
  position: relative;
}
@media (max-width: 620px) {
  body .article-body .kakudai01 #sb-part-5083.sb-custom-part-m4gts9sjm7em1ukob2g .arrowFlow__inner, body .article-body .kakudai02 #sb-part-5083.sb-custom-part-m4gts9sjm7em1ukob2g .arrowFlow__inner {
    padding-bottom: 50px;
  }
}
body .article-body .kakudai01 #sb-part-5083.sb-custom-part-m4gts9sjm7em1ukob2g .arrowFlow__beforeG, body .article-body .kakudai01 #sb-part-5083.sb-custom-part-m4gts9sjm7em1ukob2g .arrowFlow__afterG, body .article-body .kakudai02 #sb-part-5083.sb-custom-part-m4gts9sjm7em1ukob2g .arrowFlow__beforeG, body .article-body .kakudai02 #sb-part-5083.sb-custom-part-m4gts9sjm7em1ukob2g .arrowFlow__afterG {
  width: 80%;
  max-width: 400px;
  height: auto;
  margin: 0 auto;
  display: flex;
  justify-content: space-evenly;
  align-items: flex-start;
  animation-name: arrowFlow_small;
  animation-duration: 2s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  transform: translate(-50%, -300%);
  position: absolute;
  top: 0;
  left: 50%;
}
body .article-body .kakudai02 {
  left: auto;
  right: 0;
}
body .article-body .arrow03 {
  top: 33%;
  left: 0;
  right: 0;
}
body .article-body .arrow03 #sb-part-5083.sb-custom-part-m4gts9sjm7em1ukob2g .arrowFlow__beforeG, body .article-body .arrow03 #sb-part-5083.sb-custom-part-m4gts9sjm7em1ukob2g .arrowFlow__afterG {
  width: 80%;
  max-width: 400px;
  height: auto;
  margin: 0 auto;
  display: flex;
  justify-content: space-evenly;
  align-items: flex-start;
  animation-name: arrowFlow03;
  animation-duration: 2s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  transform: translate(-50%, -300%);
  position: absolute;
  top: 0;
  left: 50%;
}
body .article-body .arrow04 {
  top: -10%;
  left: 0;
  right: 0;
}
body .article-body .arrow04 #sb-part-5083.sb-custom-part-m4gts9sjm7em1ukob2g .arrowFlow__inner {
  padding-bottom: 120px;
}
@media (max-width: 620px) {
  body .article-body .arrow04 #sb-part-5083.sb-custom-part-m4gts9sjm7em1ukob2g .arrowFlow__inner {
    padding-bottom: 16vw;
  }
}
body .article-body .arrow04 #sb-part-5083.sb-custom-part-m4gts9sjm7em1ukob2g .arrowFlow__beforeG, body .article-body .arrow04 #sb-part-5083.sb-custom-part-m4gts9sjm7em1ukob2g .arrowFlow__afterG {
  width: 44%;
  max-width: 400px;
  height: auto;
  margin: 0 auto;
  display: flex;
  justify-content: space-evenly;
  align-items: flex-start;
  animation-name: arrowFlow03;
  animation-duration: 2s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  transform: translate(-50%, -300%);
  position: absolute;
  top: 0;
  left: 50%;
}
body .article-body .arrow05 {
  top: 78%;
  left: 0;
  right: 0;
}
body .article-body .arrow05 #sb-part-5083.sb-custom-part-m4gts9sjm7em1ukob2g .arrowFlow__inner {
  padding-bottom: 85px;
}
@media (max-width: 620px) {
  body .article-body .arrow05 #sb-part-5083.sb-custom-part-m4gts9sjm7em1ukob2g .arrowFlow__inner {
    padding-bottom: 14.5vw;
  }
}
body .article-body .arrow05 #sb-part-5083.sb-custom-part-m4gts9sjm7em1ukob2g .arrowFlow__beforeG, body .article-body .arrow05 #sb-part-5083.sb-custom-part-m4gts9sjm7em1ukob2g .arrowFlow__afterG {
  width: 100%;
  max-width: 545px;
  height: auto;
  margin: 0 auto;
  display: flex;
  justify-content: space-evenly;
  align-items: flex-start;
  animation-name: arrowFlow03;
  animation-duration: 2s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  transform: translate(-50%, -300%);
  position: absolute;
  top: 0;
  left: 50%;
}
@media (max-width: 620px) {
  body .article-body .arrow05 #sb-part-5083.sb-custom-part-m4gts9sjm7em1ukob2g .arrowFlow__beforeG, body .article-body .arrow05 #sb-part-5083.sb-custom-part-m4gts9sjm7em1ukob2g .arrowFlow__afterG {
    width: 90%;
  }
}
@keyframes arrowFlow {
  0% {
    transform: translate(-50%, -300%);
  }
  60% {
    transform: translate(-50%, 100%);
  }
  100% {
    transform: translate(-50%, 400%);
  }
}
@keyframes arrowFlow_small {
  0% {
    transform: translate(-50%, -200%);
  }
  60% {
    transform: translate(-50%, 50%);
  }
  100% {
    transform: translate(-50%, 200%);
  }
}
@keyframes arrowFlow03 {
  0% {
    transform: translate(-50%, -200%);
  }
  60% {
    transform: translate(-50%, 0%);
  }
  100% {
    transform: translate(-50%, 400%);
  }
}
body .article-body .purupuru {
  animation: purupuru 2s linear 0s infinite;
  overflow: hidden;
  text-align: center;
}
body .article-body .purupuru:before {
  position: absolute;
  content: "";
  display: inline-block;
  top: -180px;
  left: 0;
  width: 30px;
  height: 100%;
  background-color: #fff;
  animation: shiny-brite 3s ease-in-out infinite;
  pointer-events: none;
}
body .article-body .purupuru:active {
  box-shadow: 4px 4px 6px 0 rgba(255, 255, 255, 0.3), -4px -4px 6px 0 rgba(116, 125, 136, 0.2), inset -4px -4px 6px 0 rgba(255, 255, 255, 0.2), inset 4px 4px 6px 0 rgba(0, 0, 0, 0.2);
}
@-webkit-keyframes shiny-brite {
  0% {
    -webkit-transform: scale(0) rotate(45deg);
    opacity: 0;
  }
  80% {
    -webkit-transform: scale(0) rotate(45deg);
    opacity: 0.5;
  }
  81% {
    -webkit-transform: scale(4) rotate(45deg);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(50) rotate(45deg);
    opacity: 0;
  }
}
@keyframes purupuru {
  0% {
    transform: skew(9deg);
  }
  10% {
    transform: skew(-8deg);
  }
  20% {
    transform: skew(7deg);
  }
  30% {
    transform: skew(-6deg);
  }
  40% {
    transform: skew(5deg);
  }
  50% {
    transform: skew(-4deg);
  }
  60% {
    transform: skew(3deg);
  }
  70% {
    transform: skew(-2deg);
  }
  80% {
    transform: skew(1deg);
  }
  90% {
    transform: skew(0deg);
  }
  100% {
    transform: skew(0deg);
  }
}
body .article-body #sb-part-10214.sb-custom-part-m4j6659dd16oywx2qct .puyoBtn__area {
  width: 500px;
  max-width: 95%;
  height: auto;
  margin: 30px auto;
}
body .article-body #sb-part-10214.sb-custom-part-m4j6659dd16oywx2qct .puyoBtn__area .btn {
  display: block;
  width: 100%;
  height: auto;
}
body .article-body #sb-part-10214.sb-custom-part-m4j6659dd16oywx2qct .puyoBtn__area .btn img {
  width: 100%;
  height: auto;
  animation: puyoBtn 1.6s ease-in infinite;
}
@keyframes puyoBtn {
  0% {
    transform: scale(1.09);
  }
  40% {
    transform: scale(1);
  }
  60% {
    transform: scale(1);
  }
  70%, 100% {
    transform: scale(1.09);
  }
}
body .article-body #sb-part-10214.sb-custom-part-m4j66ia7byvrapthcr9 .puyoBtn__area {
  width: 500px;
  max-width: 95%;
  height: auto;
  margin: 30px auto;
}
body .article-body #sb-part-10214.sb-custom-part-m4j66ia7byvrapthcr9 .puyoBtn__area .btn {
  display: block;
  width: 100%;
  height: auto;
}
body .article-body #sb-part-10214.sb-custom-part-m4j66ia7byvrapthcr9 .puyoBtn__area .btn img {
  width: 100%;
  height: auto;
  animation: puyoBtn 1.6s ease-in infinite;
}
@keyframes puyoBtn {
  0% {
    transform: scale(1.09);
  }
  40% {
    transform: scale(1);
  }
  60% {
    transform: scale(1);
  }
  70%, 100% {
    transform: scale(1.09);
  }
}
body .article-body #sb-part-10214.sb-custom-part-m4j66xx2ghj4ktrmhis .puyoBtn__area {
  width: 500px;
  max-width: 95%;
  height: auto;
  margin: 30px auto;
}
body .article-body #sb-part-10214.sb-custom-part-m4j66xx2ghj4ktrmhis .puyoBtn__area .btn {
  display: block;
  width: 100%;
  height: auto;
}
body .article-body #sb-part-10214.sb-custom-part-m4j66xx2ghj4ktrmhis .puyoBtn__area .btn img {
  width: 100%;
  height: auto;
  animation: puyoBtn 1.6s ease-in infinite;
}
@keyframes puyoBtn {
  0% {
    transform: scale(1.09);
  }
  40% {
    transform: scale(1);
  }
  60% {
    transform: scale(1);
  }
  70%, 100% {
    transform: scale(1.09);
  }
}
body .article-body .dad-img img {
  margin: 0 auto;
}
body .article-body .dad-img .bg-yellow {
  background-color: yellow;
  padding: 5px 10px;
  color: rgb(228, 22, 91);
  font-weight: 900;
}
body .article-body .circle-wrap01 {
  height: 150px;
  width: 150px;
  position: absolute;
  top: 43%;
  left: 50%;
  transform: translateX(-50%);
}
body .article-body .circle-wrap01 .circle01 {
  margin: 0;
  width: 150px;
  height: 150px;
  outline: 5px solid red;
  border-radius: 50%;
  position: absolute;
  animation: outlineColor 1s steps(1, start) infinite;
}
body .article-body .circle-wrap01 .circle01-2 {
  outline: 3px solid #fff !important;
  outline-offset: -3.5px;
}
body .article-body .circle-wrap01 .circle01-3 {
  outline: 3px solid #fff !important;
  outline-offset: 3.5px;
}
@media (max-width: 620px) {
  body .article-body .circle-wrap01 {
    height: 30vw;
    width: 30vw;
    top: 43%;
  }
  body .article-body .circle-wrap01 .circle01,
  body .article-body .circle-wrap01 .circle02 {
    width: 30vw;
    height: 30vw;
    outline: 3px solid red;
    animation: outlineColorSP 1s steps(1, start) infinite;
  }
}
body .article-body .circle-wrap02 {
  height: 300px;
  width: 300px;
  position: absolute;
  top: 12%;
  left: 46%;
  transform: translateX(-50%);
}
body .article-body .circle-wrap02 .circle01 {
  margin: 0;
  width: 300px;
  height: 300px;
  outline: 5px solid red;
  border-radius: 50%;
  position: absolute;
  animation: outlineColor 1s steps(1, start) infinite;
}
body .article-body .circle-wrap02 .circle01-2 {
  outline: 3px solid #fff !important;
  outline-offset: -3.5px;
}
body .article-body .circle-wrap02 .circle01-3 {
  outline: 3px solid #fff !important;
  outline-offset: 3.5px;
}
@media (max-width: 620px) {
  body .article-body .circle-wrap02 {
    height: 50vw;
    width: 50vw;
    top: 12%;
  }
  body .article-body .circle-wrap02 .circle01,
  body .article-body .circle-wrap02 .circle02 {
    width: 50vw;
    height: 50vw;
    outline: 3px solid red;
    animation: outlineColorSP 1s steps(1, start) infinite;
  }
}
@keyframes outlineColor {
  0% {
    outline: 5px solid red;
  }
  50% {
    outline: 5px solid #000;
  }
  100% {
    outline: 5px solid red;
  }
}
@keyframes outlineColorSP {
  0% {
    outline: 3px solid red;
  }
  50% {
    outline: 3px solid #000;
  }
  100% {
    outline: 3px solid red;
  }
}
body .article-body .parts1 {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 61%;
}
body .article-body .parts2 {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 61%;
  animation: flickering 1s steps(1, start) infinite;
}
body .article-body .parts4 {
  top: 50%;
  left: 3%;
  transform: translateY(-50%);
  width: 15%;
}
body .article-body .parts3 {
  top: 50%;
  left: 3%;
  transform: translateY(-50%);
  width: 15%;
  animation: flickering 1s steps(1, start) infinite;
}
body .article-body .parts4-2 {
  top: 50%;
  right: 3%;
  transform: translateY(-50%);
  width: 15%;
}
body .article-body .parts3-2 {
  top: 50%;
  right: 3%;
  transform: translateY(-50%);
  width: 15%;
  animation: flickering 1s steps(1, start) infinite;
}
body .article-body .bg-flickering {
  background-color: yellow;
  animation: bg-flickering 1s steps(1, start) infinite;
}
body .article-body .bg-flickering .parts5 {
  width: 80%;
  display: block;
  margin: 0 auto;
  padding: 10px;
  box-sizing: border-box;
}
body .article-body .img241216_2-100 {
  margin-top: 5% !important;
}
body .article-body .parts11-2 {
  width: 54.26%;
  top: 75.9%;
  right: -35%;
  left: 0;
  z-index: 1;
}
body .article-body .line11-2 {
  width: 54.26%;
  top: 79.5%;
  right: -35%;
  left: 0;
}
@keyframes flickering {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes bg-flickering {
  0% {
    background-color: yellow;
  }
  50% {
    background-color: #fff;
  }
  100% {
    background-color: yellow;
  }
}
body .btn-comment {
  margin: 0 0 5% 0;
  font-size: 14px;
  text-align: right;
}
body #goTop {
  position: fixed;
  bottom: -1%;
  left: 50%;
  transform: translateX(-50%);
  z-index: 999;
  width: 100%;
  max-width: 620px;
  text-align: center;
}
body #goTop img {
  max-width: 620px;
  width: 100%;
}
body #goTop img.floating1 {
  position: absolute;
  top: 3%;
  right: 2%;
  width: 10%;
  animation: flickering 1s steps(1, start) infinite;
}
body .sonna {
  margin: 0 auto 3%;
  text-align: center;
}
body .sonna .parts7-2 {
  width: 82%;
  animation: bg-flickering02 1s steps(1, start) infinite;
}
body .sonna .parts7 {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 76%;
}
@keyframes bg-flickering02 {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
body img.desuga {
  width: 35%;
  display: flex;
  align-items: center;
}
@media (max-width: 620px) {
  body img.desuga {
    width: 45%;
  }
}
body img.parts13 {
  top: 74%;
  left: 50%;
  transform: translateX(-50%);
  width: 75%;
}
body img.parts14 {
  top: 72.7%;
  left: 50%;
  transform: translateX(-50%);
  width: 83%;
}
body .btn {
  animation: puyoBtn02 1.6s ease-in infinite;
}
@keyframes puyoBtn02 {
  0% {
    transform: scale(1);
  }
  40% {
    transform: scale(0.9);
  }
  60% {
    transform: scale(0.9);
  }
  70%, 100% {
    transform: scale(1);
  }
}
body #offer {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%);
}/*# sourceMappingURL=style.css.map */