$width: 1080;
body {
    margin: 0 auto;
    background-color: #f4f4f4;
    max-width: 620px;
    width: 100%;
    .article-body {
        max-width: 750px;
        width: 100%;
        margin: 0 auto;
        padding: 15px;
        box-sizing: border-box;
        background-color: #fff;
        img {
            max-width: 620px;
            width: 100%;
            height: auto;
            margin: 0 auto 10px;
            vertical-align: bottom;
        }
       .por {
            position: relative;
        }
       .poa {
            position: absolute;
        }

        .text-contents {
            text-align: center;
            font-size: 17px;
            line-height: 1.8;

        }

        #sb-part-5083.sb-custom-part-m4gts9sjm7em1ukob2g .arrowFlow__area {
            width: 100%;
            height: auto;
          }
          
          #sb-part-5083.sb-custom-part-m4gts9sjm7em1ukob2g .arrowFlow__inner {
            padding-bottom: 200px;
            overflow-y: hidden;
            position: relative;
          }
          
          #sb-part-5083.sb-custom-part-m4gts9sjm7em1ukob2g .arrowFlow__beforeG,
          #sb-part-5083.sb-custom-part-m4gts9sjm7em1ukob2g .arrowFlow__afterG {
            width: 80%;
            max-width: 400px;
            height: auto;
            margin: 0 auto;
            display: flex;
            justify-content: space-evenly;
            align-items: flex-start;
            animation-name: arrowFlow;
            animation-duration: 2s;
            animation-timing-function: ease-in-out;
            animation-iteration-count: infinite;
            transform: translate(-50%, -300%);
            position: absolute;
            top: 0;
            left: 50%;
          }
          
          #sb-part-5083.sb-custom-part-m4gts9sjm7em1ukob2g .arrowFlow__afterG {
            animation-delay: 1s;
          }
          
          #sb-part-5083.sb-custom-part-m4gts9sjm7em1ukob2g .arrow {
            display: inline-block;
            vertical-align: middle;
            color: #ba0d0d;
            line-height: 1;
            position: relative;
            width: 40px;
            height: 60px !important;
            background: currentColor;
            margin: 0 30px;
          }
          
          #sb-part-5083.sb-custom-part-m4gts9sjm7em1ukob2g .arrow:before {
            content: "";
            display: inline-block;
            width: 0;
            height: 0;
            border-style: solid;
            border-width: 50px 50px 0 50px;
            border-color: #ba0d0d transparent transparent transparent;
            position: absolute;
            bottom: -50px;
            left: 50%;
            transform: translateX(-50%);
          }
          
          @keyframes arrowFlow {
            0% {
              transform: translate(-50%, -300%);
            }
          
            60% {
              transform: translate(-50%, 100%);
            }
          
            100% {
              transform: translate(-50%, 400%);
            }
          }

          #sb-part-9950.sb-custom-part-m4gtuwitjdjjtsdpbcn .purupuru:before {
            position: absolute;
            content: '';
            display: inline-block;
            top: -180px;
            left: 0;
            width: 30px;
            height: 100%;
            background-color: #fff;
            animation: shiny-brite 3s ease-in-out infinite;
            pointer-events: none;
          }
          
          #sb-part-9950.sb-custom-part-m4gtuwitjdjjtsdpbcn .purupuru:active {
            box-shadow: 4px 4px 6px 0 rgba(255, 255, 255, .3),
              -4px -4px 6px 0 rgba(116, 125, 136, .2),
              inset -4px -4px 6px 0 rgba(255, 255, 255, .2),
              inset 4px 4px 6px 0 rgba(0, 0, 0, .2);
          }
          
          
          @-webkit-keyframes shiny-brite {
            0% {
              -webkit-transform: scale(0) rotate(45deg);
              opacity: 0;
            }
          
            80% {
              -webkit-transform: scale(0) rotate(45deg);
              opacity: 0.5;
            }
          
            81% {
              -webkit-transform: scale(4) rotate(45deg);
              opacity: 1;
            }
          
            100% {
              -webkit-transform: scale(50) rotate(45deg);
              opacity: 0;
            }
          }
          
          #sb-part-9950.sb-custom-part-m4gtuwitjdjjtsdpbcn .purupuru {
            animation: purupuru 2s linear 0s infinite;
            overflow: hidden;
            text-align: center;
          }
          
          @keyframes purupuru {
            0% {
              transform: skew(9deg);
            }
          
            10% {
              transform: skew(-8deg);
            }
          
            20% {
              transform: skew(7deg);
            }
          
            30% {
              transform: skew(-6deg);
            }
          
            40% {
              transform: skew(5deg);
            }
          
            50% {
              transform: skew(-4deg);
            }
          
            60% {
              transform: skew(3deg);
            }
          
            70% {
              transform: skew(-2deg);
            }
          
            80% {
              transform: skew(1deg);
            }
          
            90% {
              transform: skew(0deg);
            }
          
            100% {
              transform: skew(0deg);
            }
          }

          #sb-part-10214.sb-custom-part-m4j6659dd16oywx2qct .puyoBtn__area {
            width: 500px;
            max-width: 95%;
            height: auto;
            margin: 30px auto;
          }
          
          #sb-part-10214.sb-custom-part-m4j6659dd16oywx2qct .puyoBtn__area .btn {
            display: block;
            width: 100%;
            height: auto;
          }
          
          #sb-part-10214.sb-custom-part-m4j6659dd16oywx2qct .puyoBtn__area .btn img {
            width: 100%;
            height: auto;
            animation: puyoBtn 1.6s ease-in infinite;
          }
          
          @keyframes puyoBtn {
            0% {
              transform: scale(1.09);
            }
          
            40% {
              transform: scale(1);
            }
          
            60% {
              transform: scale(1);
            }
          
            70%,
            100% {
              transform: scale(1.09);
            }
          }

          #sb-part-10214.sb-custom-part-m4j66ia7byvrapthcr9 .puyoBtn__area {
            width: 500px;
            max-width: 95%;
            height: auto;
            margin: 30px auto;
          }
          
          #sb-part-10214.sb-custom-part-m4j66ia7byvrapthcr9 .puyoBtn__area .btn {
            display: block;
            width: 100%;
            height: auto;
          }
          
          #sb-part-10214.sb-custom-part-m4j66ia7byvrapthcr9 .puyoBtn__area .btn img {
            width: 100%;
            height: auto;
            animation: puyoBtn 1.6s ease-in infinite;
          }
          
          @keyframes puyoBtn {
            0% {
              transform: scale(1.09);
            }
          
            40% {
              transform: scale(1);
            }
          
            60% {
              transform: scale(1);
            }
          
            70%,
            100% {
              transform: scale(1.09);
            }
          }

          #sb-part-10214.sb-custom-part-m4j66xx2ghj4ktrmhis .puyoBtn__area {
            width: 500px;
            max-width: 95%;
            height: auto;
            margin: 30px auto;
          }
          
          #sb-part-10214.sb-custom-part-m4j66xx2ghj4ktrmhis .puyoBtn__area .btn {
            display: block;
            width: 100%;
            height: auto;
          }
          
          #sb-part-10214.sb-custom-part-m4j66xx2ghj4ktrmhis .puyoBtn__area .btn img {
            width: 100%;
            height: auto;
            animation: puyoBtn 1.6s ease-in infinite;
          }
          
          @keyframes puyoBtn {
            0% {
              transform: scale(1.09);
            }
          
            40% {
              transform: scale(1);
            }
          
            60% {
              transform: scale(1);
            }
          
            70%,
            100% {
              transform: scale(1.09);
            }
          }
    }
}